/* body */
* {
    box-sizing: border-box;
}
body {
    font-family: Raleway, Helvetica, sans-serif;
    box-sizing: content-box;
    max-width: 1438px;
    margin: 0 auto;
}
h1 {
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0;
}
h2 {
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0;
}
p {
    margin: 10px 0;
    font-size: 18px;
}

/* Header */
header {
    display: flex;
	justify-content: space-between;
}
 #logo-header {
    width: 130px;
    margin: 20px 30px;
 }
 nav {     
    display: flex;
    align-items: center;    
    font-size: 16px;
 }
 nav ul {
	display: flex;
}
nav li {
    width: auto;
    margin: 0;
    padding: 40px 30px;
    border-top:  3px solid rgba(0, 0, 255, 0);
    box-sizing: border-box;
}
nav a {
    text-decoration: none;
    color: black;
}

/* Main */
main, footer {
    margin: 0 5px;
}

    /** Main form search **/
.section-search {
    display: flex;
    flex-direction: column;
}
.form-search{
    display: flex;
    margin: 15px 0;
    height: 40px;
    width: 400px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}
.main-search {
    display: flex;
    justify-content: space-between;
    border: #F2F2F2;
}
.main-form-logo {
    padding: 20px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}
main form input {
    font-size: 20px;
    padding: 10px 5px;
    border: none;
}
.main-form-search {
    font-size: 25px;
    background-color: #0065FC;
    padding: auto 10px;
}
.main-form-research {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 0px 10px 10px 0px;
}
.section-search-info {
    display: flex;
    /* justify-content: baseline; */
    align-items: baseline;
}
.fa-info {
    color: #0065FC;
    padding : 5px 10px;
    border : 1px solid rgb(226, 226, 226);
    border-radius: 50%;
    font-size: 13px;
}
.fa-info:hover {
    transition: all 2s;
    transform: rotate(360deg);
}
cite {
    margin-left: 10px;
}
/* filtre */
.section-filtre {
    display: flex;
    margin: 30px 0;
}
.section-filtre h2 {
    margin-right: 25px;
    flex-wrap: wrap;
}
.button-filtre {
    display: flex;
    flex-wrap: wrap;
}
.form-filtre {
display: flex;
position: relative;
justify-content: center;
align-items: baseline;
margin: 0 25px;
border: 2px solid lightgray;
border-radius: 40px;
}
.logo-filtre {
    color: #0065FC;
    padding: 13px;
    border-radius: 50%;
    background-color: #deebff;
    position: absolute;
    left: -10px;
    top: -2px;
    /* scale: 2; */
}
.p-filtre {
    padding: 0 15px 0 40px;
    font-weight: 700;
    /* height: 50px; */
}

section, footer {
    border: 2px solid red;
}

/* Housing section */
.housing-cards {
    background-color: #F2F2F2;
    border-radius: 50px;
    width: 70%;
}
.housind--card {
    background-color: #fff;
    height: 100%;
    width: 300px;
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 8px;
}
.housind--card img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 5px;
}
.fa-star {
    color: #0065FC;
}
.fa-star.none {
    color: lightgray;
}


/* Media queries */
@media (hover: hover) {
    nav li:hover {
        color: #0065FC;
        border-top:  3px solid blue;
    }
    .main-form-research:hover {
        cursor: pointer;
    }
}

/* Responsive */
@media all and (max-width: 780px)
{
    .section-filtre {
        flex-wrap: wrap;
    }
}